<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Confronti e riepilogo</h4>
                </div>
                <div class="content">
                    <div class="paragraph">Questa pagina contiene il confronto tra i dati da te scelti e l'ulitmo
                        sondaggio disponibile
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Il tuo Pronostico</h4>
                    <p class="category">Grafico della percentuali scelte</p>
                </div>
                <div class="content">
                    <div id="pronostico" class="ct-chart ct-perfect-fourth"></div>

                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Bounce
                            <i class="fa fa-circle text-warning"></i> Unsubscribe
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-panel"></i>data by You
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Ultimo Sondaggio</h4>
                    <p class="category">Grafico dell'ultimo sondaggio disponibile</p>
                </div>
                <div class="content">
                    <div id="termometroOfficial" class="ct-chart ct-major-twelfth"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Bounce
                            <i class="fa fa-circle text-warning"></i> Unsubscribe
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-panel"></i>data by <a href="https://www.termometropolitico.it/">Termometro Politico</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Il Tuo Pronostico</h4>
                    <p class="text-muted">Riepilogo del tuo pronostico</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of tableData1.dataRows">
                            <td *ngFor="let cell of row">{{cell}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>