    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Premio</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            Il vincitore riceverà un buono Amazon di 35€ :)
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Regolamento</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            Vince colui che indovina le percentuali per tutti i partiti presenti nella lista data.
                            Il vincitore verrà contattato tramite l'email. In caso il vincitore non dovesse rispondere entro 7 giorni a partire dal 5/03/18, perderà automaticamente il diritto di ricevere il premio.
                        </div>
                        <div class="paragraph">
                            - La percentuale della somma di tutti i partiti non presenti nell'elenco del sondaggio verranno conteggiati nella sezione "Altri"
                        </div>
                        <div class="paragraph">
                            - Il giorno ultimo per l'inserimento dei dati sarà il 3 Marzo 2018.
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Dati</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            L'unico dato sensibile richiesto è un indirizzo email sul quale si verrà contattati esclusivamente in seguito all'eventuale vincita del buono Amazon di 35€.
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Perchè questo sito?</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            Bella domanda!
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Sponsor</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            <div class="logo-img">
                                <a href="https://play.google.com/store/apps/details?id=it.AgriDap&hl=it"><img src="../../assets/img/agriDap.png" alt="Circle Image" class="img-thumbnail img-no-padding img-responsive"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
