<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Premio</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            Il vincitore riceverà un buono Amazon di 35€ :)
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Confronto delle percentuali</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            Sia le percentuali del pronostico che quelle ufficiali del 5 Marzo verranno valutate nel seguente modo:
                        </div>
                        <div class="paragraph">
                            - A partire dal 3% verrà considerato per i confronti solo l'approssimazione al numero intero più vicino
                            <br> (esempio: 12.3 vale 12 mentre da 12.5 a 12.9 vale 13)
                        </div>
                        <div class="paragraph">
                            - Sotto il 3% verrà considerato per i confronti anche il primo decimale
                            <br> (esempio: 2.33 vale 2.3 mentre da 2.35 a 2.39 vale 2.4)
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Numero di tentativi</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                           Ad ogni email può essere associato un solo pronostico. In caso di più pronostici varrà preso in considerazione solamente
                            l'ultimo inviato. Quindi se per qualche motivo si dovesse cambiare idea sul pronostico fatto basterà farne
                            un altro e quello vecchio verrà ignorato.
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Vincitore</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            Vince colui che indovina le percentuali per tutti i partiti presenti nella lista data.
                            Il vincitore verrà contattato tramite l'email e in caso non dovesse rispondere entro 7 giorni a partire dal 5/03/18, perderà automaticamente il diritto di ricevere il premio.
                            <br>
                        </div>
                        <div class="paragraph">
                            - La percentuale della somma di tutti i partiti non presenti nell'elenco dato verranno conteggiati nella sezione "Altri"
                        </div>
                        <div class="paragraph">
                            - Il giorno ultimo per l'inserimento dei dati sarà il 3 Marzo 2018.
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Dati</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            L'unico dato sensibile richiesto è un indirizzo email sul quale si verrà contattati esclusivamente in seguito all'eventuale vincita del buono Amazon di 35€.
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Perchè questo sito?</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            Bella domanda!
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">Sponsor</h4>
                    </div>
                    <div class="content">
                        <div class="paragraph">
                            <div class="logo-img">
                                <a href="https://play.google.com/store/apps/details?id=it.AgriDap&hl=it"><img src="../../assets/img/agriDap.png" alt="Circle Image" class="img-thumbnail img-no-padding img-responsive"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
