<div class="container-fluid">
       <div class="row">
           <div class="pronostico">
               <div class="col-md-12">
                   <div class="card">
                       <div class="header">
                           <h4 class="title">Che Fare</h4>
                       </div>
                       <div class="content">
                           <div class="paragraph">Inserisci le percentuali di voti dei partiti.
                               Se indovini, vinci un buono Amazon da 35€.
                           </div>
                       </div>
                       <div class="content">
                           <div class="paragraph">Dall'1% si considera solo il numero intero più vicino: <br>
                               - (ex: 12.4 -> 12 || 12.5 -> 13)  <br>
                               Sotto l'1% si considera anche il primo decimale: <br>
                               - (ex: 0.33 -> 0.3 || 0.35 -> 0.4)
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="card">
                       <div class="header">
                           <h4 class="title">Fai Il Tuo Pronostico!</h4>
                           <p class="category">Tieni sempre d'occhio il totale parziale!</p>
                       </div>
                       <div class="content">
                           <ul class="list-group">
                               <li class="list-group-item" *ngFor="let coalizione of politicalService.pronostico.coalizioni; let i = index">
                                   <div class="card">
                                       <h4 class="title">{{coalizione.nome}}</h4>
                                       <br>
                                       <ul class="list-group">
                                           <li class="list-group-item" *ngFor="let partito of politicalService.pronostico.coalizioni[i].partiti ">
                                               <div class="input-group">
                                                   <div class="avatar">
                                                       <img [src]="partito.src" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                   </div>
                                                   <span class="input-group-addon" id="basic-addon1">{{partito.nome}}</span>
                                                   <input type="number" class="form-control" [(ngModel)]="partito.percentuale"
                                                          placeholder="Percentuale" aria-describedby="basic-addon1">
                                               </div>
                                               <div class="alert alert-danger" *ngIf="partito.percentuale<0">
                                                   <span><b> Attenzione - </b>Lo so che {{partito.leader}} non è un genio ma addirittura un numero negativo?</span>
                                               </div>
                                               <label>{{partito.leader}}</label>
                                           </li>
                                       </ul>
                                   </div>
                               </li>
                               <br>
                           </ul>
                           <div class="alert alert-warning" *ngIf="!politicalService.arrivatoCento()">
                               <span><b> Info - </b> Devi arrivare all 100%, controlla il quadratino in alto a destra per vedere il totale immesso.</span>
                           </div>
                           <div class="alert alert-danger" *ngIf="!politicalService.checkTotale()">
                               <span><b> Attenzione - </b> Per poter inviare il pronostico la somma delle varie percentuali deve corrispondere al 100%.</span>
                           </div>
                       </div>
                       <div class="text-center">
                           <button type="submit" (click)="checkPronostico()"
                                   class="btn btn-info btn-fill btn-lg"
                                   [disabled]="(!politicalService.arrivatoCento() || !politicalService.checkTotale())">Invia</button>
                       </div>
                       <br>
                   </div>
               </div>
           </div>
       </div>
</div>

