<div class="container-fluid">
    <div class="row">
        <div class="invio" *ngIf="politicalService.finito">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Info</h4>
                    </div>
                    <div class="content">
                        <div class="card">
                            <div class="input-group">
                                <span class="input-group-addon">Email</span>
                                <input type="email" class="form-control" [(ngModel)]="politicalService.pronostico.email"
                                       placeholder="prova@bohmail.com" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Conferma Email</span>
                                <input type="email" class="form-control"  [(ngModel)]="politicalService.confermaEmail"
                                       placeholder="prova@bohmail.com" aria-describedby="basic-addon1">
                            </div>
                            <div class="alert alert-danger" *ngIf="(politicalService.pronostico.email !== politicalService.confermaEmail) && (politicalService.confermaEmail !== '') ">
                                <span><b> Attenzione - </b> Le email inserite non coincidono</span>
                            </div>
                            <p> I dati saranno utilizzati esclusivamente per fini statstici, nel rispetto delle leggi sulla privacy.
                                La tua email verrà utilizzatta esclusivamente come modo per contattarti in caso di vincita del buono Amazon da 35€.</p>
                            <hr>
                            <p> Sesso:</p>
                            <div class="col-md-offset-1">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="sessoRadio" [(ngModel)]="politicalService.pronostico.sesso" id="sessoRadios1" value="1">
                                        Maschio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="sessoRadio" [(ngModel)]="politicalService.pronostico.sesso" id="sessoRadios2" value="2">
                                        Femmina
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <p>Range Età:</p>
                            <div class="col-md-offset-1">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio"
                                               [(ngModel)]="politicalService.pronostico.eta" name="etaRadios" value="1">
                                        18-24
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio"
                                               [(ngModel)]="politicalService.pronostico.eta" name="etaRadios" value="2">
                                        25-34
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio"
                                               [(ngModel)]="politicalService.pronostico.eta" name="etaRadios" value="3">
                                        35-44
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio"
                                               [(ngModel)]="politicalService.pronostico.eta" name="etaRadios"  value="4">
                                        45-54
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio"
                                               [(ngModel)]="politicalService.pronostico.eta" name="etaRadios"  value="5">
                                        55-64
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio"
                                               [(ngModel)]="politicalService.pronostico.eta" name="etaRadios"  value="6">
                                        65>
                                    </label>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="content">
                                <p>In caso di più pronostici inviati con la stessa email verrà preso in considerazione
                                    l'ultimo pronostico inviato.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tpbutton btn-toolbar text-center">
                        <button type="submit" [disabled]="invioInCorso" (click)="politicalService.finito = !politicalService.finito" class="btn btn-info btn-fill">Indietro</button>
                        <button type="submit" [disabled]="invioInCorso" (click)="inviaPronostico()" class="btn btn-info btn-fill">Invia</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>